a{
    text-decoration: none;
    color: black;
}

.card_list_container{
    width: 256px;
}
.card {
    width: 256px;
    height: 410px;
    background-color: #F6F6F6;
    margin-bottom: 32px;
    cursor: pointer;

}
.card_icons{
    position: relative;
    top: 0;
    display: flex;
}

.card_icons_new{
    height: 29px;
    width: 38px;
}

.card_icons_like{
    width: 30px;
    height: 30px;
    margin-left: 180px;
}

.card_img img{
    text-align: start;
    width: 256px;
    height: 244px;
}

.card_content{
    font-family: "Karma", serif;
    font-size: 18px;
    font-weight: 500;
    margin: 8px 8px 11px 8px;
}

.card_content_text{
    margin-bottom: 8px;
}

.card_content_color{
    font-size: 16px;
}

.card_content_price{
    display: flex;
    align-items: center;
}

.card_content_price_new{
    margin-right: 8px ;
    font-size: 22px;
}

.card_content_price_old{
    color: #BF1300;
    font-size: 18px;
    text-decoration:line-through;
}